<div class="container-fluid">
    <h4 class="p-3 mb-2 bg-success text-white">ユーザー　一覧</h4>
  <div class="user-container border">
    <div class="user-index-area row row-cols-2 justify-content-center">
      <% @users.each do |user| %>
        <div class="card col-sm user-index-card p-3">
        <img class="bd-placeholder-img card-img-top"  src="<%= "/user_images/#{user.image_name}" %>" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
          <div class="card-img-overlay">
                <%= link_to "/users/#{user.id}" do %>
          <button class="btn btn-outline-success btn-sm bg-white text-success h-auto"><%= user.name %></button>
           <% end %>
          </div>
          <div class="card-body">
          <p class="card-text text-justify"><%= user.content %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>