<div class="top_wrapper">
  <div class="container">
  <%= image_tag 'jimo_icon.png', class: 'top_title' %>
    <div class="serch_btn">
    
    </div>
  </div>
</div>

<div class="wrapper">
  <div class ="info_message">
    <h1>「フードロスにも地産地消を」</h1>
    <p>Jimo-shareとは...</p>
    <p>生産製造現場では形が悪い、通常販売に向かないものや、<br> 賞味期限が近いというだけで<br>
        廃棄される食品や農産物が多くあります。<br>
        一方で、食費のかかるペットや<br>こども食堂を利用しなければいけない家庭が存在します。<br>
        Jimo-shareは、地元内で双方が繋がれるようにした<br>投稿型マッチングサービスです。<br>
    </p>
 </div>
  <%= image_tag 'top_info.png' ,class: "top_info" ,alt: "info_image" %>
</div>

<main>


</main>