<div class="container-fluid">
  <div class="main post-edit">
  <div class="container">
    <div class="form post-form">
          <%= form_tag("/posts/#{@post.id}/update", {multipart: true}) do %>
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <div>
           <p>画像</p>
          <input name="image" type="file">
    <textarea name="content"><%= @post.content %></textarea>
          <input type="submit" value="保存">
      </div>
      <% end %>
    </div>
</div>
  </div>
</div>