<div class="container-fluid">
  <div class="post-new">
    <h1 class="form-heading">投稿する</h1>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
             <%= form_tag("/posts/create", {multipart: true}) do %>
          <input name="image" type="file" value="画像選択">
                    <textarea name="content"><%= @post.content %></textarea>
          <input type="submit" value="投稿">
             <% end %>
        </div>
      </div>


  </div>
</div>


