<div class="show_container">
<%# 投稿詳細ここから %>
<div class="show_detail">
<%# 画像 %>
  <div class="post_image">

  </div>
<%# 分類/場所%>
<div class="container">

</div>
<%# 値段 %>



<%# 説明条件 %>

      <div class="post-menus">
           <%= @post.content %>
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        </div>


<%# 投稿詳細ここまで %>
</div>
</div>