// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// トップ画面ここから
.top_wrapper{
  display: grid;
  grid-template-columns: auto 50% auto;
  grid-template-rows: auto 30% 30% auto;
  margin: 0;
  width: 100%;
  height: 700px;
  overflow: hidden;
  background-image: url("top.png");
  background-size: cover;
  background-position:center;
}
  .title_container{
    width: 100%;
    grid-column: 2;
    grid-row: 2;
  }
  .top_title{
    margin:0 auto;
     justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  .btn_container{
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    justify-self: center;
    align-self: center;
    .btn{
      border-radius: 4px;
      margin:5px;
  }
  }
// ゲストログイン
.guest-icon{
    position: fixed;
    top:7.5em;
    left:0em;
    width:17em;
    height:6em;
    background-color: blue;
    font-size: 0.7em;
    z-index: 900;
.guest-logo{
   height: 100%;
  }
  p{
   margin-left:4em;
   height: 100%;
  }
}

// トップ画面ここまで

// インフォここから
.info_wrapper{
  background-image:url("info_cover.png");
  background-size: cover;
  background-position:center;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows:1fr;
  width: 100%;
  height: 400px;
  .info_message{
    width: auto;
    height: auto;
    grid-column: 1;
    grid-row: 1;
    padding:10px  5px;
    h1{
      font-size: 33px;
      color: rgb(22, 190, 30);
    }
    p{
      font-size: 14px;
    }
  }
  .info_image {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
    background:url("top_info.png") no-repeat center center;
    background-size:100% auto;
    overflow: hidden;
    .top_info{
    }
  }
}
// インフォここまで

// コンテンツここから




// コンテンツここまで




//タブレット向けレイアウト
@media all and (max-width: 1000px) {

}

//モバイル向けレイアウト
@media all and (max-width: 670px) {
  .top_wrapper{
    .title_container{
      grid-column: 1/3;
      grid-row: 2;
      padding: 5px;
    }
    .btn_container{
      grid-column: 1/3;
      grid-row: 3;
    }

  }
// ゲストログイン(モバイル
.guest-icon{
  top:10em;
  left:0em;
  width:20em;
  height:6em;
  background-color: blue;
  font-size: 0.5em;
.guest-logo{
 height: 100%;
}
p{
 padding-top:1em;
 margin-left:4em;
 height: 100%;
}
}

  .info_wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr ;
    width: 100%;
    height: 600px;

    .info_message{
      grid-column: 1;
      grid-row: 2;
      padding: 5px;
      h1{
        margin-top: 20px;
        font-size: 33px;
        color: rgb(22, 190, 30);
      }
      p{
        font-size: 14px;
      }
    }
    // グリッド位置
    .info_image {
      grid-column: 1;
      grid-row: 1;
    }
  }
}
