.contents {
  width: 100%;
  height: 1000px;
  display: grid;
  grid-template-columns:1fr 5fr;
  grid-template-rows:1fr 1fr;
  padding-top: 80px;
  .side_view{
    grid-column: 1;
    grid-row:1 / 3;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .posts_new{
    grid-column:2;
    grid-row:1;
    background-color: #ffff;
  }
  .posts_limit{
    grid-column: 2;
    grid-row: 2;
    background-color:#ffff;
  }
}
.posts_new{
grid-template-columns: repeat(auto-fit),minmax(10em 1fr);

}

.card {

}