// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 投稿一覧ここから　post/index
.contents {
  width: 100%;
  height: 2000px;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  gap: 8px;
  // display: grid;
  // grid-template-columns:1fr 5fr;
  // grid-template-rows:1fr 1fr;
  padding-top: 80px;
  .side_view{
    // grid-column: 1;
    // grid-row:1 / 3;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .posts_new{
    // grid-column:2;
    // grid-row:1;
    background-color: #ffff;
  }

}








// 投稿詳細ページここから
.show_container{
  width: 100%;
  height: 2000px;
  display: grid;
  grid-template-columns:1fr 2fr 1fr;
  grid-template-rows:2fr 3fr;
  padding-top: 80px;
  .show_detail{
    grid-column: 1/4;
    grid-row: 1;
  }
}

// 新規投稿フォームここから
.post_image{
  width:40%;
  object-fit: cover;
}





//モバイル向けレイアウト
@media all and (max-width: 670px) {

  .contents {
    display: block;
    height: 4000px;
  }
  .side_view{
    display: none;
}
.posts_new{
  grid-column:1/3;
  grid-row:1;
  background-color: #ffff;
}
.posts_limit{
  grid-column:1/3;
  grid-row: 2;
  background-color:#ffff;
}
}




