// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 投稿全体ここから
.badge {
  margin: 3px;
}

// 投稿一覧ここから　post/index
.contents {
  width: 100%;
  height: 2000px;
  padding-top: 140px;
  overflow: auto;
}
  .side_view {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .posts_new {
    margin: 0 1em;
    .card {
      min-width: 15em;
      max-width: 15em;
      .card-time {
        font-size: 5px;
      }
    }
  }

.index-search{
  background-color:rgba(0, 0, 0, 0.9);
}

.post_image {
  width: 100%;
  object-fit: cover;
  margin: 2px;
}

// 投稿詳細ページここから
.show-detail {
  max-width: 700px;
  padding: 10px;
  margin: auto;
}
.post_image {
  padding: 5px;
}
.edit-destroy {
  width: 100%;
  margin-top: 5px;
  text-align: right;
}
.post-content1 {
  width: 100%;
}
.post-content2 {
  display: none;
}
.comment-index {
  width: 100%;
  min-height: 500px;
  background-color: white;
  overflow:auto;
}
.comment-area{
  margin: 2px;
}

.comment-index{
  overflow: auto;
}

.com-form{
  max-height:100px;
}


// 新規投稿/編集フォームここから
.new-container {
  height: 1000px;
}
.post-form {
  background-color: azure;
  padding: 2%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 5%;
}

.new-content {
  font-size: 1em;
  width: 100%;
  height: 120px;
}
.price-form {
  width: 50%;
}

//モバイル向けレイアウト
@media all and (max-width: 670px) {
  .contents {
    height: auto;
  }
  .post-content1 {
    display: none;
  }
  .post-content2 {
    display: block;
  }
  .card{
    .card-text{
      display: none;
    }
  }
}