// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// ユーザー関連共通


 .user-container{
   width: 70%;
   margin: 0 auto;
   padding-bottom: 30px;
   background-color:azure;
   padding-top: 120px;

  .form-group{
    padding: 3%;
  }
 }

 .user-form{
  background-color: azure;
  padding: 2%;
  max-width: 500px;
  margin: auto;
}

// 新規登録画面ここから


// ログインページここから



// ユーザー一覧ここから
.user_sum{
  width: 20%;
}


// ユーザー詳細ここから
.user-show{
}
.user-detail{
  max-width: 500px;
  background-color: azure;
}
.user-post{
  max-width:10em;
  min-width:10em;
  background-color: azure;
}

.user-post-image{
  max-width: 10em;
}



.user_image{
  width: 30%;
  border: 1px solid black;
  background-color:rgb(5, 8, 7);
}

.user-detail{
}

